:global .header {
  width: 100%;
  height: 40px;
  display: flex;
}

:global .header_left, :global .header_right {
  width: 7%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global .header_cont {
  width: 86%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

:global .am-wingblank {
  width: 100%;
  height: 350px;
}

:global .am-carousel {
  width: 100%;
  height: 100% !important;
}

:global .am-carousel .slider-frame {
  width: 100%;
  height: 100% !important;
}

:global .imgs {
  height: 350px;
  width: 100%;
}

:global .goodsMsgWrap {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

:global .goodsMsgWrap .goodsNameTitle {
  font-size: 20px;
}

:global .goodsPriceTitle {
  font-size: 25px;
  color: red;
  height: 49px;
  line-height: 49px;
}

:global .goodsBrandTitle {
  text-align: center;
}

:global .goodsBrandTitle div {
  font-size: 12px;
  padding: 5px;
  color: orange;
  width: auto;
  display: inline;
  border-radius: 5px;
  border: 1px solid orange;
}

:global .goodsSize {
  padding: 0 20px;
  height: 50px;
  display: flex;
  font-size: 15px;
}

:global .goodsSize div:first-child {
  flex: 1;
}

:global .goodsSize div:nth-child(2) {
  line-height: 50px;
  text-align: center;
  padding: 0 3px;
  color: red;
  font-weight: 600;
}

:global .goodsSize div:nth-child(3) {
  line-height: 50px;
  text-align: center;
  padding: 0 3px;
}

:global .goodsComment {
  margin-top: 15px;
}

:global .goodsComment .goodsCommentTitle {
  padding: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

:global .goodsComment .goodsCommentTitle div:nth-child(1) {
  flex: 1;
}

:global .commentList {
  padding: 0 10px;
}

:global .commentItem {
  width: 100%;
  height: auto;
  position: relative;
  background: #fff;
  color: grey;
  padding-bottom: .1rem;
}

:global .userInfo {
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 600;
}

:global .userInfo div:nth-child(1) {
  flex: 1;
}

:global .userComment {
  line-height: 30px;
  font-size: 15px;
}

:global .commentPicList {
  display: flex;
}
