:global .noTabPageContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

:global .header {
  width: 100%;
  height: 50px;
  display: flex;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  z-index: 10;
}

:global .header .left {
  width: 30px;
  text-align: center;
  font-size: 20px;
}

:global .header .title {
  flex: 1;
  text-align: center;
  font-size: 16px;
}

:global .header .right {
  width: 30px;
}

:global .tabWrap {
  width: 100%;
  height: 32px;
  line-height: 30px;
  overflow-x: auto;
  border-bottom: 1px solid #eee;
}

:global .tabWrap .box {
  width: 1000px;
  height: 100%;
}

:global .tabWrap .box span {
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
}

:global .tabWrap .box span.active {
  color: #108ee9;
  border-bottom: 2px solid #108ee9;
}

:global .wrap {
  width: 100%;
  overflow-y: auto;
  flex: 1;
  background: #ededed;
}

:global .categoryDetail {
  width: 100%;
  height: 75px;
  padding: 10px 0;
  background: #ededed;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
}

:global .categoryDetail > div:nth-child(2) {
  color: grey;
}

:global .goodsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

:global .goodsList .goodsItem {
  width: 50%;
  height: 236px;
  background: #fff;
  padding: 10px;
}

:global .goodsList .goodsItem .goodsItemImg {
  width: 100%;
  height: 169px;
}

:global .goodsList .goodsItem .goodsItemImg img {
  width: 100%;
  height: 100%;
}

:global .goodsList .goodsItem .goodsItemName {
  width: 100%;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 0 10px 0;
  font-size: 14px;
  text-align: center;
}

:global .goodsList .goodsItem .goodsItemPrice {
  width: 100%;
  text-align: center;
  color: #f00;
  font-size: 14px;
}

:global .goodsList .goodsItem:not(:last-child) {
  border-bottom: 1px solid #eee;
}

:global .goodsList .goodsItem:nth-child(odd) {
  border-right: 1px solid #eee;
}
