*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html,body,#root{
  width: 100%;
  height: 100%;
}
.App{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.App>div{
  flex: 1;
}
.App footer{
  height: 50px;
  display: flex;
  box-shadow: 0 0 6px 10px rgba(0,0,0,.05);
  z-index: 99;
}
.App footer>a{
  display: block;
  height: 100%;
  flex: 1;
  text-align: center;
  color: #000;
}
.App footer>a .itemIcon{
   height: 32px;
   line-height: 32px;
}
.App footer>a .itemName{
  height: 18px;
}
.App footer>a.active{
  color: #2196f3;
}