*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,body,#root{
  width: 100%;
  height: 100%;
}
.App{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.App p{
  flex: 1;
}
.App footer{
  height: 50px;
  display: flex;
  line-height: 50px;
}
.App footer a{
  flex: 1;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 220.8px;
  line-height: 220.8px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide img {
 height:220.8px;
 width:100%;
}